@import 'variables';
@import 'buttons';

main {
  display: flex;
  flex-direction: column;
}

.main-content {
  text-align: center;
  padding: 20px;
}

.title {

  h1 {
    color: $primary;
    font-size: $font-size-subtitle;
  }
}

.text {
  margin: 30px;

  p{
    color: $text;
    font-size: $font-size-text;
  }
}

.image-container {
  display: flex;
  flex-direction: column;


  img {
    width: 350px;
  }

  h1 {
    font-size: $font-size-subtitle;
    color: $text;
  }

  p {
    font-size: $font-size-text;
  }

}

.content-container {
  display: flex;
  flex-direction: row;
  padding: 3rem;

}

.text-container {
  padding: 1rem;

  h1 {
    color: $primary;
  }

  p{
    color: $text;
    font-size: $font-size-text;
  }

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .btn {
    @include default-button;
  }
}

@media screen and (min-width: $mobile) and (max-width: $desktop) {

  main {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .content-container {
    flex-direction: column;

  }
}




