<main>
  <section class="main-content">
    <div class="title">
      <h1>O Que Oferecemos</h1>
    </div>

    <div class="text">
      <p>Seu tempo é precioso e deve ser valorizado. Com infraestrutura completa você fica despreocupado e pode contar
        com diversos serviços em nosso Hospital Veterinário. Cirurgias, internações e consultas de rotina com a melhor
        equipe médica da região.</p>
    </div>
  </section>

  <section class="image-container">

    <div class="content-container">
      <div class="img">
        <img src="/service-1.jpg" alt="atendimento">
      </div>
      <div class="text-container">
        <h1>Atendimento Clínico</h1>
        <p>Conte com equipe médica atualizada, altamente qualificada e especializada no atendimento dos mais variados
          casos clínicos.</p>
        <p>Neste atendimento cuidamos do seu animal desde o nascimento até as consultas preventivas de rotina.</p>
        <p>Priorizamos o diagnóstico ágil para obtermos o tratamento mais adequado de nossos pacientes.</p>
      </div>
    </div>

    <div class="content-container">
      <div class="img">
        <img src="/service-2.jpg" alt="atendimento">
      </div>
      <div class="text-container">
        <h1>Internação</h1>
        <p>Com estrutura completa e equipamentos modernos, somos o único Hospital Veterinário da região que oferece
          tratamento intensivo e uma eficaz recuperação.</p>
        <p>Fique tranquilo enquanto nossos especialistas cuidam com carinho e respeito do seu animal em ambientes
          controlados e confortáveis aos pacientes.</p>
      </div>
    </div>

    <div class="content-container">
      <div class="img">
        <img src="/service-3.jpg" alt="atendimento">
      </div>
      <div class="text-container">
        <h1>Exames Laboratoriais e de Imagem</h1>
        <p>Em nossos laboratórios realizamos uma ampla gama de exames, incluindo exames de imagem, alcançando um
          diagnóstico preciso, confiável e ágil.</p>
      </div>
    </div>
  </section>

  <div class="btn-container">
    <button class="btn">SAIBA MAIS</button>
  </div>

</main>
