<main>
  <section class="title-container">
    <div class="title">
      <h1>Por que escolher a <strong>Pet Help?</strong></h1>
      <p>Construindo uma relação de confiança e zelando pela alegria e vitalidade de quem você ama.</p>
    </div>

  </section>

  <section class="list-container">
    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-clock"></i>
      </div>
      <strong> Atendimento 24h </strong>
      <div class="card__body">Emergências não escolhem hora. Estamos disponíveis 24 horas para cuidar do seu pet.</div>
      <span>Atendimento 24h</span>
    </div>

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-medal"></i>
      </div>
      <strong> Profissionais Qualificados </strong>
      <div class="card__body">Equipe altamente capacitada com especialistas em diversas áreas da medicina veterinária..</div>
      <span>Profissionais Qualificados</span>
    </div>

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-users"></i>
      </div>
      <strong> Atendimento Humanizado </strong>
      <div class="card__body">Compreendemos o vínculo especial entre você e seu pet, oferecendo suporte completo..</div>
      <span>Atendimento Humanizado</span>
    </div>

    <div class="card">
      <div class="icon">
        <i class="fa-solid fa-laptop-medical"></i>
      </div>
      <strong> Tecnologia Avançada </strong>
      <div class="card__body">Equipamentos modernos e técnicas inovadoras para diagnóstico precisos e tratamento eficazes</div>
      <span>Tecnologia Avançada</span>
    </div>

  </section>

</main>
