// Colors
$primary: #276FB7;
$primary-dark: #194978;
$white: #fff;
$black: #000;
$text: #333;

// Responsive
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$base-unit: 1rem;

// Text
$main-font: 'Poppins', sans-serif;
$font-size-base: $base-unit;
$font-size-text-small: $base-unit * 0.875;
$font-size-text: $base-unit * 1.125;
$font-size-subtitle: $base-unit * 1.5;
$font-size-big: $base-unit * 2;
$font-size-title-small: $base-unit * 2.5;
$font-size-title: $base-unit * 3;

$spacing-unit: $base-unit * 0.75;

// Spacing | margin | padding
$margin: $spacing-unit * 2;
$padding: $spacing-unit * 2;
$gap: $spacing-unit;

//Border - box shadow
$border-radius: 5px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
