<main>
  <section class="main-content">
    <div class="title">
      <h1>Qualidade, Integridade e Impacto Positivo</h1>
    </div>

    <div class="text">
      <p>Oferecemos atendimento ágil e completo em um único hospital. Com equipe médica comprometida e qualificada,
        contribuímos positivamente com a sociedade no controle de diversas zoonoses.</p>
    </div>

    <div class="list">
      <li>
        <i class="fa-solid fa-angle-right"></i> Equipamentos modernos
      </li>
      <li>
        <i class="fa-solid fa-angle-right"></i> Médicos-veterinários qualificados
      </li>
      <li>
        <i class="fa-solid fa-angle-right"></i> Maior e melhor infraestutura da região
      </li>
    </div>

    <div class="btn-container">
      <button class="btn">Por Trás do Projeto</button>
    </div>

  </section>

  <section class="image-container">
    <img src="/qualidade-img.png" alt="">
  </section>

</main>
