@import "variables";
@import "buttons";

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  width: 60%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title h1 {
  color: $primary;
  font-size: $font-size-subtitle;
}

.text p {
  color: $text;
  font-size: $font-size-text;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  font-size: $font-size-text;
  color: $text;
}

.list i {
  color: $primary;
}

.btn-container {
  padding-top: 2rem;
}

.btn {
  @include default-button;
}

.image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 400px;
}

@media screen and (min-width: $mobile) and (max-width: $desktop) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }

  .main-content {
    width: 100%;
    margin: 0;
  }

  .image-container {
    width: 100%;
    padding: 3rem;

    img {
      width: 300px;
    }
  }
}
